<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport'/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.css}"/>
<!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->
    <script th:src="@{/webjars/jquery/3.5.1/jquery.js}" ></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}" ></script>
</head>
<body>
<footer th:fragment="footer" class="my-5 text-muted text-center text-small">
    <p class="mb-1">© 2020 <a href="#">JDelfino.com</a></p>
</footer>
</body>
</html>